{% extends "base.html" %}

{% block contenido %}

        
        </div>
        
        <span class="v29_179"><FONT COLOR="green">Linea Proveedores</FONT></span>
        <span class="v29_180">Nombre</span>
        <span class="v29_181">Lorem ipsum dolor sit amet</span>
        <span class="v29_182">Lorem ipsum dolor sit amet</span>
        <span class="v29_183">Lorem ipsum dolor sit amet</span>
        <span class="v29_184">Lorem ipsum dolor sit amet</span>
        <span class="v29_185">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        <span class="v29_186">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        <span class="v29_187">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        <span class="v29_188">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        <span class="v29_189">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        <span class="v29_190">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        <span class="v29_191">Lorem ipsum dolor sit amet</span>
        <span class="v29_192">Lorem ipsum dolor sit amet</span>
        <span class="v29_193">00000000</span>
        <span class="v29_194">00000000</span>
        <span class="v29_195">00000000</span>
        <span class="v29_196">00000000</span>
        <span class="v29_197">00000000</span>
        <span class="v29_198">00000000</span>
        <span class="v29_199">Direccion</span>
        <span class="v29_200">Nombre del Contacto</span>
        <span class="v29_201">Ciudad</span>
        <span class="v29_202">Telefono</span>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="v88_213">
            <div class="v29_210"></div>
        </div>
        <div class="v88_212">
            <div class="v29_213">
            </div>
        </div>
        <div class="v88_214">
            <div class="v29_216">
            </div>
        </div>
        <div class="v88_215">
            <div class="v29_219">
            </div>
        </div>
        <div class="v88_216">
            <div class="v29_222">
            </div>
        </div>
        <div class="v88_463">           
            <span class="v88_465"><FONT COLOR="gray">name</FONT></span>
        </div>
        <div class="v88_506">
            <span class="v88_465"><FONT COLOR="gray">ciudad</FONT></span>
        </div>
        <div class="v88_472">
            <span class="v88_465"><FONT COLOR="gray">ciudad</FONT></span>
        </div>
        <div class="v88_469">
            <span class="v88_465"><FONT COLOR="gray">ciudad</FONT></span>
        </div>
        <div class="v88_466">
            <span class="v88_465"><FONT COLOR="gray">ciudad</FONT></span>
        </div>
        <div class="v29_229">
            <span class="v88_465"><FONT COLOR="gray">ciudad</FONT></span>
        </div>
        <div class="v29_232">
            <span class="v88_465"><FONT COLOR="gray">ciudad</FONT></span>
        </div>
        <div class="v88_460">
            <span class="v88_465"><FONT COLOR="gray">name</FONT></span>
        </div>
        <div class="v88_457">
            <span class="v88_465"><FONT COLOR="gray">name</FONT></span>
        </div>
        <div class="v88_454">
            <span class="v88_465"><FONT COLOR="gray">name</FONT></span>
        </div>
        <div class="v88_451">
            <span class="v88_465"><FONT COLOR="gray">name</FONT></span>
        </div>
        <div class="v88_448">
            <span class="v88_465"><FONT COLOR="gray">name</FONT></span>
        </div>
        <div class="v88_500">
    </div>
    <div class="v88_495">
    </div>
    <div class="v88_490">
    </div>
    <div class="v88_485">
    </div>
    <div class="v88_480">
    </div>
    <div class="v88_475">
    </div>
    <div class="v29_247"></div>
    <span class="v29_248">Nuevo proveedor</span>
    <div class="v29_249"></div>
    <div class="v29_251">
        <div class="v29_252"></div>
        <div class="v29_253">
            <span class="v29_254">2</span>
            <span class="v29_255">de</span>
            <span class="v29_256">3</span>
        </div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="v29_259">
            <div class="v29_260"></div>
        </div>
        <div class="v29_261">
            <div class="v29_262"></div>
        </div>
    </div>
    <div class="v29_263"></div>
    <div class="v53_404"></div>
    <div class="v29_173">
       
    
</div>
{% endblock %}