{% extends "base.html" %}

{% block cont_menu %}
    <div>
        <div id="contacto" class="form_menu">
            <h2>INGRESAR FABRICANTE</h2>
            {% from "_macro.html" import render_field %}
            <form class="formulario" name="FabricanteForm" method="POST">
                <legend>Favor llenar todos los campos</legend>
                <div class="contenedor-campos">
                    <div class="campo">
                        {{ render_field(form.cod_fab) }}
                    </div>
                    <div class="campo">
                        {{ render_field(form.tipoid_fab) }}
                    </div>
                    <div class="campo">
                        {{ render_field(form.nroid_fab) }}
                    </div>
                    <div class="campo">
                        {{ render_field(form.dv_nroid_fab) }}
                    </div>
                    <div class="campo">
                        {{ render_field(form.rsocial_fab) }}
                    </div>
                    <div class="campo">
                        {{ render_field(form.name_rep_fab) }}
                    </div>
                    <div class="campo">
                        {{ render_field(form.name_con_fab) }}
                    </div>
                    <div class="campo">
                        {{ render_field(form.email_fab) }}
                    </div>
                    <div class="campo">
                        {{ render_field(form.codigo_pais) }}
                    </div>
                    <div class="campo">
                        {{ render_field(form.ciudad) }}
                    </div>
                    <div class="campo">
                        {{ render_field(form.direccion) }}
                    </div>
                    <div class="campo">
                        {{ render_field(form.telefono) }}
                    </div>
                    <div class="campo">
                        {{ render_field(form.celular) }}
                    </div>
                </div>
                <div class="enviar">
                    <input type="submit" value="Aceptar" class="boton" formaction="{{ url_for('reg_fabricante') }}">
                    <input type="submit" value="Cancelar" class="boton" formnovalidate formaction="{{ url_for('inicio') }}">
                </div>    
            </form>
        </div>
    </div>
{% endblock %}